*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;
}
/* inizio header*/

header{
    background-color: #ffffff;
}


img {
    width: 100px;
    height: 100px;
    padding: 10px;
    background-size: cover;
}

#text-logo{
    font-size: 50px;
    vertical-align: baseline;
}

/* inizio main */

main{
    background-color: rgb(221, 220, 220);
}

.container{
    width: 1000px;
    height: 650px;
    margin: 15px auto;
    background-color: #ffffff;
    border-radius: 15px;
}

.container-2{
    width: 800px;
    height: 500px;
    margin: auto;
    background-color: #ffffff;
}

#button-1{
    background-color: rgb(13, 151, 214);
    border-radius: 5px;
    color: #ffffff;
    width: 85px;
    height: 30px;
    border: none;
    margin-top: 15px;
    font-weight: bold;
    display: inline-block;
}

#button-2{
    background-color: #ffffff;
    border-radius: 5px;
    color: #bab3b3;
    width: 85px;
    height: 30px;
    border: 1px solid;
    margin-top: 15px;
    font-weight: bold;
}

h2{
    margin-top: 35px;
}

ul{
    list-style: none;
    margin-top: 10px;
    font-size: 20px;
}

span{
    display: inline-block;
}