*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;
}
/* inizio header*/

header{
    background-color: #ffffff;
    max-height: 90px;
}


img {
    width: 100px;
    height: 100px;
    padding: 10px;
    background-size: cover;
    vertical-align: middle;
}

#text-logo{
    font-size: 50px;
    vertical-align: middle;
}

/* fine header */

/* inizio main */

main{
    background-color: rgb(237, 237, 237);
    padding-top: 50px;
}

.container{
    width: 1000px;
    height: 650px;
    margin: auto;
    background-color: #ffffff;
    border-radius: 5px;
}

.container-2{
    width: 800px;
    height: 500px;
    margin: auto;
    background-color: #ffffff;
}

h2{
    margin-top: 35px;
}

ul{
    list-style: none;
    margin-top: 10px;
    font-size: 20px;
}
.button-1{
    background-color: rgb(13, 151, 214);
    border-radius: 5px;
    color: #ffffff;
    width: 85px;
    height: 30px;
    border: none;
    margin-top: 15px;
    font-weight: bold;
}

.button-2{
    background-color: #ffffff;
    border-radius: 5px;
    color: #bab3b3;
    width: 85px;
    height: 30px;
    border: 1px solid;
    margin-top: 15px;
    font-weight: bold;
}

.button-3{
    background-color: #9966ff;
    border-radius: 5px;
    color: #ffffff;
    width: 85px;
    height: 30px;
    border: none;
    margin-top: 15px;
    font-weight: bold;
}

.button-4{
    background-color: #00b359;
    border-radius: 5px;
    color: #ffffff;
    width: 85px;
    height: 30px;
    border: none;
    margin-top: 15px;
    font-weight: bold;
}

.button-5{
    background-color: #ff9933;
    border-radius: 5px;
    color: #ffffff;
    width: 85px;
    height: 30px;
    border: none;
    margin-top: 15px;
    font-weight: bold;
}

.button-6{
    background-color: #ff66cc;
    border-radius: 5px;
    color: #ffffff;
    width: 85px;
    height: 30px;
    border: none;
    margin-top: 15px;
    font-weight: bold;
}

.button-7{
    background-color: #00cc00;
    border-radius: 5px;
    color: #ffffff;
    width: 85px;
    height: 30px;
    border: none;
    margin-top: 15px;
    font-weight: bold;
}

.check{
    border: 1px solid green;
    color: green;
}

.cross{
    border: 1px solid red;
    color: red;
}

.icon{
    border-radius: 50%;
    display: inline-block;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
}
/* fine main */